body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: aliceblue;
}


/* Main page content */
main {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 7em;
  line-height: 1.1;
}


/* Page navigation */
.sidebar {
  width: 7%;
  height: 30vh;
  position: fixed;
  top: 0;
  margin-top: 25vh;
  text-transform: uppercase;
  font-family: "hypatia-sans-pro", sans-serif;
  font-weight: 700;
  font-style: normal;  
}

ul {
  list-style: none;
}
li {
  padding: 0.5em 0;

}

a{
  text-decoration: none;
  color: aliceblue;
  transition: 0.2s ease;
}
a:visited {
  color: aliceblue;
}
a:hover {
  color: lightsalmon;
  transition: 0.2s ease;

}

#home-button {
  padding-bottom: 3em;
}


/* Body text styles */
.center-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text p {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  letter-spacing: 0.03rem;
  line-height: 1.7em;
  margin: 0 0 1em 0;
}

.text {
  column-count: 2;
  column-width: 15em;
  widows: 3;
  orphans: 3;
  gap: 4em;
  width: min(100% - 3rem, var(--container-max, 100ch));
  margin: 0;
  text-align: left;
}
