/* --- Global Styles --- */
body {
  margin: 0;
  background-color: aliceblue;
  display: flex;;
}

/* 
  *** Page navigation *** 
*/
header {
  height: 50vh;
  position: sticky;
  top: 25%;
}
nav.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-family: "hypatia-sans-pro", sans-serif;
  font-weight: 700;
  font-style: normal;  
}
nav.sidebar ul {
  list-style: none;
}
nav.sidebar ul li {
  padding: 0.5em 0;
}
nav.sidebar ul li a{
  text-decoration: none;
  color: rgb(13, 12, 12);
  transition: 0.2s ease;
}
nav.sidebar ul li a:visited {
  color: rgb(13, 12, 12);
}
nav.sidebar ul li a:hover {
  color: lightsalmon;
  transition: 0.2s ease;
}
#home-button {
  padding-bottom: 2em;
}
#home-icon {
  font-family: "mason-serif", sans-serif;
  font-style: normal;
  font-size: 1.5em;
  padding-right: 0.25em;
}

/*
  *** Main page content *** 
*/
#app {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin-top: 4em;
}
h1 {
  font-size: 7em;
  line-height: 1.1;
}

/*
  *** Body text ***
*/
.text {
  column-count: 2;
  column-width: 15em;
  widows: 3;
  orphans: 3;
  gap: 4em;
  width: min(100% - 3rem, 100ch);
  text-wrap: wrap;
  margin: 1em 0;
  text-align: left;
}
.text p {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15em;
  letter-spacing: 0.03rem;
  line-height: 1.7em;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .text {
    display: block;
  }
}