#app {
	justify-content: center;
}

h1 {
	font-family: "mason-serif", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: aliceblue;
	margin: 0;
	line-height: 0.8em;
	margin-bottom: 0.15em;
	letter-spacing: 1.5rem;
	cursor: default;
}

h2 {
	font-family: "hypatia-sans-pro", sans-serif;
	font-size: 2em;
	font-weight: 700;
	color: aliceblue;
	margin: 0;
	text-transform: uppercase;
	cursor: default;}

.small-title {
	font-size: 0.6em;
	padding: 0 0.3em;
}

body {
	background: 
		radial-gradient(ellipse at center, rgba(255, 153, 0, 0.35) 0%, rgba(0,0,0,0) 65%), 
		radial-gradient(ellipse at center, rgba(251, 255, 0, 0.35) 0%, rgba(0,0,0,0) 65%), 
		radial-gradient(ellipse at center, rgba(255, 0, 0, 0.35) 0%, rgba(0,0,0,0) 65%) 
		#2b2e2f;
	background-repeat: 
		no-repeat, 
		no-repeat, 
		no-repeat;
	background-size: 
		900px 900px,
		900px 900px,
		900px 900px;
	background-attachment: fixed;
	
	animation: bganimation 20s infinite;
}

@keyframes bganimation {
	0%   {
		background-position: 
			-100% -100%,
			200% 200%,
			-100% 200%,
			200% -100%;
	}
	50% {
		background-position: 
			170% 100%,
			-200% 100%,
			100% 25%,
			0% 100%;
	}
	100% {
		background-position: 
			-100% -100%,
			200% 200%,
			-100% 200%,
			200% -100%;
	}
}