.lust-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.75em;
}

.container {
  width: 900px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: hsl(118 60% 50%);
  padding-top: 17.9vh
}

.inner {
  display: flex; 
  align-items: center;
  justify-content: center; 
}

#one, #two, #three {
  position: absolute;
  font-size: 4rem;
  line-height: 1.2em;
  text-align: center;
  background: linear-gradient(to right, hsl(117 59% 52%), hsl(198 100% 45%));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; 
}

p {
  font-family: "ambroise-std", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 10rem;
}

#one {
  animation: scale 2000ms ease infinite;
  opacity: 0.3;
}
@keyframes scale {
  from {
    animation-timing-function: ease-out;
  }
  to {
    transform: scale(8);
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
}
#two {
  animation: kern 5800ms ease infinite;
}
#three {
  animation: kernOpacity 2000ms ease infinite;
  opacity: 0.3;
}

@keyframes kern {
  from {
    animation-timing-function: ease-out;
  }
  to {
    letter-spacing: 1.2em;
    animation-timing-function: ease-in-out;
  }
}

@keyframes kernOpacity {
  from {
    animation-timing-function: ease-out;
  }
  to {
    opacity: 0;
    letter-spacing: 1.8em;
    animation-timing-function: ease-in-out;
  }
}

/* Body text section */
.text {
  margin-top: 7.75em;
}

p {
  font-weight: 500;
}