body {
  background-color:bisque;
}

a {
  color: rgb(13, 12, 12);
}
a:visited {
  color:rgb(13, 12, 12);
}

h1 {
  color: orange;
  font-family: "cheee-tbone", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10em;
}

p {
  font-weight: 500;
}

