nav {
    color: rgb(13, 12, 12);
  }
  a:visited {
    color:rgb(13, 12, 12);
  }

h1 {
  color: black;
  font-family: "lorimer-no-2", sans-serif;
  font-weight: 900;
  font-style: normal;

  height: 430px;
  width: 600px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}